.aviso-container p {
  display: inline-block;
  margin-left: 0px;
  margin-botton: 0px;	
  max-width: 100%; /* El párrafo nunca será más ancho que el ancho del contenedor */
  width: 90%; /* Ancho del párrafo en relación con su contenedor */
	
}

.imagen {
  filter: hue-rotate(30deg);
  
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header, main, footer {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

header {
    background-color: #388E3C;
    color: white;
    text-align: center;
}

main {
    min-height: 73vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    text-align: center;
}

.columns {
    display: flex;
    justify-content: center;
}
.column {
    padding: 0 10px; /* Reducido el padding */
}

textarea {
    border-radius: 6px;
    border: 4px dashed #4CAF50;
    width: 95%; /* Ancho del textarea al 100% */
    height: 300px;
    margin-bottom: 10px;
    resize: none;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
textarea:hover {
   transform: translateY(-3px); /* Levantar el botón 5px hacia arriba */
}

.buttons-row {
    display: flex;
    justify-content: center; /* Centrar los botones */
    align-items: center;
    margin-top: 20px;
}
button {
    border-radius: 6px;
    border: 3px solid #4CAF50;
    padding: 10px 20px;
    background-color: #e9e9e9;
    color: #4CAF50;
    cursor: pointer;
    font-size: 17px;
    margin: 0 5px; /* Reducido el margen horizontal */
    width: 150px;
}
#btncifrar {
    background-color: #b5dfb7;
}
button:hover, #btncifrar:hover {
    background-color: #8BC34A;
    transform: translateY(-2px);
}


footer {
    position: relative;
    width: 100%;
    background-color: #388E3C;
    color: white;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 20px; /* Ajustar el margen superior para evitar que se superponga con el contenido */
}




/* Ajustar tamaño inputs */
@media only screen and (max-width: 100000px) {

    #left-column ,
    #right-column  {
        width: 400px;
    }
}
/* Ajustar tamaño inputs */
@media only screen and (max-width: 904px) {

    #left-column ,
    #right-column  {
        width: 300px;
    }
}


/* Ajustes para pantallas pequeñas, como tablets */
@media only screen and (max-width: 768px) {


    #left-column ,
    #right-column  {
        width: 232.017px;
    }


    .column {
        padding: 3 5px; /* Reducido el padding */
    }
    footer {
        position: relative;
        bottom: 0;
        left: 0;
    }
}

@media only screen and (max-width: 491px) {


    #left-column ,
    #right-column  {
        width: 282.017px;
    }

    .columns {
        flex-direction: column;
    }
    .column {
        padding: 0;
        width: 100%;
    }


    .buttons-row {
        flex-direction: column; /* Cambiar la dirección de los botones a columna */
    }

    button {
        width: 100%; /* Ancho completo para los botones */
        margin: 5px 0; /* Añadir espacio entre los botones */
    }
}


/* Ajustes para pantallas aún más pequeñas, como dispositivos móviles */
@media only screen and (max-width: 375px) {

    #left-column ,
    #right-column  {
        width: 232.017px;
    }

    .column {
        padding: 0; /* Eliminado el padding */
    }

    #left-column textarea,
    #right-column textarea {
        width: 95%; /* Hacer los textareas un poco más anchos */
    }

    .buttons-row {
        flex-direction: column; /* Cambiar la dirección de los botones a columna */
    }

    button {
        width: 100%; /* Ancho completo para los botones */
        margin: 5px 0; /* Añadir espacio entre los botones */
    }
}


